<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CapitalCampaign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>847D570A1E9C58B900167D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847D571E1E9C58B900167D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847D57291E9C58B900167D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
